:root {
  /* --primary: #894825;
  --secondary: #CEAE93; */

  --primary: #b92321;
  --secondary: #8d1d1b;
  --lightblack: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.3s all ease-in-out;
}
html, body{
  background-color:black ;
  overflow-x: hidden;
}

.section {
  padding: 100px 0;
}

.btn {
  border: none;
}

.main-btn {
  background-color: var(--primary);
  border-radius: 2px;
  padding: 15px 35px;
}


.main-btn a {
  color: white;
  font-weight: 600;
}

.main-btn:hover a {
  color: var(--lightblack);
  transition: 0.5s;
}

.main-btn:hover a i {
  color: var(--lightblack);

}

.main-btn:hover {
  background-color: white;
  border-radius: 2px;
  transition: 0.5s;
}

.thir-btn {
  background-color: var(--primary);
  border-radius: 2px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.thir-btn a i {
  color: var(--lightblack);
  font-weight: 600;
  font-size: 18px;
}

.thir-btn:hover a i {
  color: var(--lightblack);
  transition: 0.5s;
}

.thir-btn:hover {
  background-color: white;
  transition: 0.5s;

}

.sec-btn {
  background-color: var(--primary);
  border-radius: 2px;
  padding: 15px 35px;
}


.sec-btn a {
  color: white;
  font-weight: 600;
}

.sec-btn:hover a {
  color: white;
  transition: 0.5s;
}

.sec-btn:hover a i {
  color: white;

}

.sec-btn:hover {
  background-color: var(--lightblack);
  border-radius: 2px;
  transition: 0.5s;
}

a {
  text-decoration: none;
}

.section {
  padding: 60px 0;
}

.popular {
  color: var(--secondary);
}

/* body {
  font-size: 18px;
  color: #555;
} */

.heading {
  color: var(--secondary);
  text-transform: uppercase;
  font-weight: 500;
}

.sub-head {
  color: white;
  padding-top: 10px;
  font-weight: 700;
}

/* Header */

.header .nav-last {
  display: flex;
}

.header .dropdown-item a {
  color: var(--primary);
}

header .navbar-toggler i {
  color: black;
}

header {
  position: relative;
  /* top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  position: fixed; */
  background-color: rgb(14, 13, 13);
  backdrop-filter: blur(2px);
  width: 100vw;
  padding: 0 40px;
  z-index: 7;
}

header .nav-link.active,
header .nav-link:hover {
  color: var(--secondary) !important;
}

header .nav-link.active,
header .nav-link:hover {
  color: var(--secondary) !important;
}

header .nav-link {
  font-size: 18px;
}

header .nav-link {
  color: var(--lightblack);
}

header .nav-link i {
  color: var(--secondary);
}

header .dropdown-menu {
  background-color:white;
      border: none;
    border-radius: 0;

}

header .dropdown-menu a {
  color: var(--lightblack);
  font-size: 18px;
  font-weight: 500;
  padding-top: 8px;
}
header .dropdown-menu a:hover{
  color:var(--primary);
}
.dropdown-item:focus,
.dropdown-item:hover {
  color: var(--secondary);
  background-color: transparent;
}

.navbar-nav .nav-link.show {
  color: var(--secondary);
}

.navbar {
  padding-bottom: 0;
  padding-top: 0;
}

.navbar-toggler {
  border: none !important;
  outline: 0;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: none;
  box-shadow: none;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
  display: none;
}

.dropdown-submenu:hover .dropdown-menu {
  display: block;
}

.dropdown-item.active,
.dropdown-item:active {
  color: var(--bs-dropdown-link-active-color);
  text-decoration: none;
  background-color: var(--secondary);
}

.dropdown-item .nav-item .nav-link {
  color: var(--light-primary);
}

/* home section start */

#home {
  height: fit-content;
  width: 100vw;
  /* background: linear-gradient(rgb(0 0 0 / 15%), rgb(0 0 0 / 36%)), url("../img/home-banner.jpg"); */
  position: relative;
  overflow: hidden;
  /* filter: brightness(50%); */

}

#home video {
  height: 100%;
  width: 100%;
}
.home {
  height: 100%;
  z-index: 6;
  position: absolute;
  left: 0;
  top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.home h1 {
  font-size: 65px;
  color: white;
  text-shadow: 1px 1px black;
}

.home p {
  color: rgb(231, 230, 230);
}

.home .content .main-btn {
  margin-top: 40px;

}

.home .content .main-btn:hover {
  margin-top: 30px;
  transition: 0.5s;

}

.home .btn i {
  color: black;
  margin-left: 2px;
}

.home .btn i {
  color: white;
}

.home .row {
  height: 100%;
}

.home .content {
  overflow: hidden;
}

.home .right {
  display: flex;
  /* justify-content: center; */
  align-items: end;
  flex-direction: column;
}

.home .right span {
  color: white;
  font-size: 20px;
  margin-right: 25px;
  margin-bottom: 10px;
}
/* home section end */

/* about section start */

.about {
  padding: 100px 0;
  height: fit-content;
}

.about .left {
  position: relative;
  overflow: hidden;
}
.about .left .img-box-1 {
  position: absolute;
  width: 90%;
  height: auto;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.1);
}

.about .left .img-box-1 img {
  height: 100%;
  width: 100%;
  /* animation: example 1s linear ;
  animation-iteration-count:1 ; */
  border: 10px solid white;
  border-radius: 2px;
}

.about .left .img-box-2 {
  position: absolute;
  width: 60%;
  height: auto;
  bottom: 0;
  right: 0;
  border: 10px solid white;
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.1);
}

.about .left .img-box-2 img {
  height: 100%;
  width: 100%;
  /* animation: example 1.5s linear ;
    animation-iteration-count:1 ; */
  border-radius: 2px;
}

.about h4 {
  color: white;
  margin-left: 30px;
}

.about .third-head {
  position: relative;
  margin: 20px 0;
}

.about .third-head::after {
  content: "";
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  margin-right: 20px;
  background-color: var(--primary);
  width: 10px;
  border-radius: 5px;
}

.about .content .list-item i {
  font-size: 18px;
  margin: 2px;
  margin-right: 8px;
  background-color: var(--secondary);
  color: white;
  padding: 2px;
  border-radius: 50%;
}

@keyframes example {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.row{
  color: white !important;
}
/* about section end */

/* about2 section start */
#about2 {
  position: relative;
}

#about2 .about2 {
  background-color: var(--darkprimary);
  width: 100vw;
  margin-top: -25px;

}

.counter-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  padding: 30px 20px;
  /* background: #fff; */
  /* background-color: red;
    position: absolute;
    top:-30px; */
  background-color: white;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
}

.counter-box {
  flex: 1 1 180px;
  max-width: 200px;
  text-align: center;
}

.counter {
  font-size: 40px;
  font-weight: bold;
  color: #8d1d1b;
}

.label {
  margin-top: 10px;
  font-size: 18px;
  color: var(--primary);
}
p {
  color: #eee !important;
}
/* about2 section end */

/* product section start */
/* .product{
  background-color: #f2efeb;
} */

.product {
  background: linear-gradient(rgb(0 0 0 / 94%), rgb(0 0 0 / 90%)), url(../img/footer-banner.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;

}

.product .card-body {
  position: absolute;
  bottom: 5%;
  z-index: 1;
}

.product .sub-head {
  color: white;
}

.product .card-body h4 {
  align-items: center;
}

.product .card-body h4 a {
  color: white;
  display: none;
}

.product .card-body p {
  color: rgb(235, 232, 232);
  display: none;

}


.product .card:hover p {
  display: block;
  transition: 0.5s;
}

.product .card:hover a {
  display: block;
}

.product .card:hover .card-body {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.596);
}
.product .content {
  text-align: center;
  margin: auto;
  position: absolute;
  left: 0%;
  right: 0%;
  transform: translateX(-50%, -50%);
  bottom: 0;
  height: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-with-hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.623);
  /* background: rgba(0, 128, 0, 0.274); */
  opacity: 0;
  transition: all 0.5s ease;
  /* border-radius: 2px; */
}

.card-with-hover:hover::after {
  opacity: 1;
}

/* product section end */

/* sub-banner section start */
#sub-banner {
  background-image: url("../img/sub-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#sub-banner .sub-banner {
  height: 100%;
  width: 100%;
  background-color: #000000ed;
  backdrop-filter: grayscale(1);
}


.sub-banner .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sub-banner .content h1 {
  color: white;
}

.sub-banner .content p {
  color: rgb(218, 216, 216);
}

/* sub-banner section end */

/* gallery section start */
/* .gallery .main-box {
  display: flex;
  flex-wrap: wrap;
}

.gallery .main-box .box {
  background-color: green;
  overflow: hidden;
  flex: 1 1 calc(25% - 16px);
  min-width: 250px;
  max-width: 100%;
}

.gallery .main-box .box img {
  height: 100%;
  width: 100%;
}

.gallery .main-box .box:hover img {
  transform: scale(1.1);
  transition: 0.5s;
}

.gallery .main-box .box:hover img:hover {
  opacity: 0.8;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
  justify-content: center;
}

.gallery-item {
  position: relative;
  flex: 1 1 calc(25% - 16px);
  min-width: 250px;
  max-width: 100%;
  overflow: hidden;
  border-radius: 8px;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

.gallery-item:hover img {
  transform: scale(1.05);
}

.caption {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 6px 10px;
  border-radius: 4px;
}

.caption span {
  display: block;
  font-size: 0.8rem;
  text-transform: uppercase;
  opacity: 0.8;
}

.caption h4 {
  margin-top: 2px;
  font-size: 1rem;
} */

/* gallery section end */

/* testimonial section start */
/* testimonial */
.testimonial {
  background-image: url("../img/testimonial-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.testimonial .sub-head{
  color:white;
}

.testimonial .overlay{
  height: 100%;
  width: 100%;
  background-color: #000000ed;
}
.testimonial .people .card {
  height: fit-content;
  padding: 10px;
  padding-bottom: 92px;
}

.testimonial .card-img-top img {
  border: 2px solid white;
}

/* .testimonial .people .card.odd {
  background-color: #2589462c;
}

.testimonial .people .card.even {
  background-color: #89258427;
} */
.testimonial .icon-box i {
  color: var(--secondary);
  font-size: 20px;
  margin: 1px;
}

.testimonial .card {
  clip-path: polygon(0% 0%,
      100% 0%,
      100% 75%,
      28% 75%,
      23% 82%,
      18% 75%,
      0% 75%);
}

.testimonial .icon-box .gray {
  color: rgba(128, 128, 128, 0.562);
}

.testimonial .people .card-title {
  color: white !important;
}

.testimonial .people .card-title.first {
  color: rgb(230, 229, 229) !important;
}

.testimonial .people .card .card-body p {
  color: gray;
}

.testimonial .people .card-img-top {
  width: 100px;
  height: auto;
}

/* testimonial section end */

/* faq section start */

.faq {
  padding: 80px 0;
  background-color: var(--tolightwhite);
  position: relative;
}

.faq .content p {
  font-size: 18px;
  color: var(--gray);
  margin-bottom: 40px;
}

.faq .content .accordion-item i {
  margin-right: 20px;
  font-size: 20px;
}

.faq .content .accordion-item .accordion-button {
  font-size: 18px;
  color: var(--darksecondary);
  background-color: transparent;
}

.faq .content .accordion-item .accordion-body {
  font-size: 18px;
}

.faq .content .accordion-item .accordion-button:focus {
  box-shadow: unset;
  border: none;
}

.faq .right {
  position: relative;
  overflow: hidden;
  position: relative;
}

.faq .right .img-box-1 {
  position: absolute;
  width: 90%;
  height: auto;
  top: 0;
  right: 0;
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.1);
}

.faq .right .img-box-1 img {
  height: 100%;
  width: 100%;
  /* animation: example 1s linear ;
  animation-iteration-count:1 ; */
  border: 10px solid white;
  border-radius: 2px;
}

.faq .right .img-box-2 {
  position: absolute;
  width: 60%;
  height: auto;
  bottom: 0;
  left: 0;
  border: 10px solid white;
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.1);
}

.faq .right .img-box-2 img {
  height: 100%;
  width: 100%;
  /* animation: example 1.5s linear ;
    animation-iteration-count:1 ; */
  border-radius: 2px;
}

/* faq section end */

/* contact section start */
#contact {
    background-repeat: no-repeat;
  background-size: cover;
}

.contact {
  padding: 80px 0;
}

/* .contact .cont-sty {
  flex-wrap: wrap-reverse;
} */
.contact .left {
  background-color: var(--tolightwhite);

}

.contact .form h4 {
  font-size: 28px;
  font-weight: 500;
}

.contact .form input {
  padding: 14px 12px;
  border-radius: 3px;
  border: 1px solid rgba(128, 128, 128, 0.274);
  width: 100%;
}

.contact .form input:focus-visible {
  outline: 1px solid var(--primary-color);
}

.contact .form textarea {
  padding: 12px;
  border-radius: 4px;
  width: 100%;
  border: none;
  border-radius: 3px;
  border: 1px solid rgba(128, 128, 128, 0.274);
}

.contact .form textarea:focus-visible {
  outline: 1px solid var(--primary-color);
}

.contact .right p {
  color: var(--gray);
}

.contact .right .btn {
  margin-bottom: 20px;
  margin-top: 20px;
}

.contact .right h4 {
  margin-top: 40px;
}

.contact .right .add {
  font-size: 18px;
  color: var(--gray);
}

.contact .right .cont {
  font-size: 18px;
  color: var(--gray);
}

.contact .right .cont a {
  color: var(--gray);
  text-decoration: none;
  list-style: none;
}

.contact .right .cont a:hover {
  color: var(--primary-color);
  transform: 0.5s;
}

.contact .icon-box a {
  font-size: 18px;
  display: inline-block;
  background: #ffc107;
  color: white;
  line-height: 1;
  padding: 13px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 46px;
  height: 46px;
  transition: 0.3s;
}

.contact .icon-box a:hover {
  background: var(--lightprimary);
  transition: all 0.5s ease;
}

/* contact section end */

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  background: linear-gradient(rgb(0 0 0 / 94%), rgb(0 0 0 / 90%)), url(../img/footer-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 14px;
  background-position: center;
}

.footer .footer-logo {
  padding: 35px;
  margin-top: -145px;

}

.footer .footer-content {
  background: var(--darkprimary);
  padding: 60px 0 30px 0;
}

.footer .footer-content .footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--lightblack);
  background-color: black;

}

.footer .footer-logo .footer-info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: var(--primary);
  color: white;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.footer .footer-logo .footer-info .social-links a:hover {
  background-color: white;
  color: var(--lightblack);
  transition: 0.5s;
}

.footer .footer-content .footer-info h3 {
  font-size: 28px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

.footer .footer-content .footer-info h3 span {
  color: var(--primary);
}

.footer .footer-content .footer-info p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
  color: #ffffffd6;
  align-items: center;

}

.footer .footer-content h4 {
  font-size: 16px;
  font-weight: 600;
  color: white;
  position: relative;
  padding-bottom: 12px;
  margin-bottom: 15px;
}



.footer .footer-content h4::after {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  background: var(--secondary);
  bottom: 0;
  left: 0;
}

.footer .footer-content .footer-links {
  margin-bottom: 30px;
}

.footer .footer-content .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-content .footer-links ul i {
  padding-right: 2px;
  color: var(--secondary);
  font-size: 12px;
  line-height: 1;
}

.footer .footer-content .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-content .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-content .footer-links ul a {
  color: #ffffffd6;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
  font-size: 16px;

}

.footer .footer-content .footer-links ul a:hover {
  color: var(--secondary);
  transition: 0.5s;
  letter-spacing: 0.2px;
}


.footer .footer-legal {
  padding: 30px 0;
}

.footer .footer-newsletter li{
  list-style: none;
  margin: 5px;
  font-size: 16px;
      margin-bottom: 9px;
}
.footer .footer-newsletter li a{
  color:white;
  text-decoration: none;
}
.footer .footer-newsletter li:hover a{
  color:var(--secondary);
  letter-spacing: 0.2px;
  transition: 0.5s;
}
 

.footer .footer-newsletter li i{
  color:var(--secondary);
      font-size: 20px;
      margin-right: 5px;
}
.footer .footer-newsletter input {
  width: 100%;
  height: 100%;
}

.footer .footer-newsletter input::placeholder {
  padding-left: 20px;
}

.footer .footer-newsletter .sub-box {
  position: relative;
  height: 54px;
  outline: none !important;
}

.footer .footer-newsletter .sub-box .btn {
  position: absolute;
  right: 0;
  top: 0;
}

.footer .footer-legal .credits {
  padding-top: 4px;
  font-size: 13px;
  color: white;
}

.footer .footer-legal .credits a {
  color: var(--light-primary);
}

.footer .footer-legal .social-links a {
  font-size: 18px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.footer .footer-legal .social-links a:hover {
  background: var(--primary);
  text-decoration: none;
}

@media only screen and (max-width: 540px) {
  .footer-info {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* whatsapp */
.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s all ease-in-out;
  border-radius: 50%;
  font-size: 2rem;
  color: white;
  box-shadow: 0 0 0.75rem #18d26e;
  background-color: #18d26e;
}

.whatsapp:hover {
  background-color: white;
  color: #18d26e;
}

.call {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 60px;
  transition: 0.1s all ease-in-out;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 2rem;
  color: white;
  background-color: #222222;
  box-shadow: 0 0 0.5rem #eee;
}

.call:hover {
  background-color: white;
  color: #222222;
}

/* banner section start */
#banner {
  background-image: linear-gradient(rgb(0 0 0 / 76%), rgb(0 0 0 / 36%)), url("../img/product/prod-banner.jpg");
  background-size: cover;
  height: fit-content;
  background-position: bottom;

}

.banner {
  padding: 100px 0 100px 0;
}

/* #banner .overlay{
  height:100%;
  width: 100%;
  background-color: red;
  position: absolute;

 } */
.banner .content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner .content h1 {
  color:white;
  text-shadow: 1px 1px rgb(231, 228, 228);
  font-size: 65px;

}

.banner .content p {
  color: white;
  text-shadow: 1px 1px black;

}

/* banner section end */

/* product-page start */
.product-page .card .card-img-top:hover{
transform: scale(1.1);
transition: 0.5s;
}
.product-page .card-img-top{
overflow: hidden !important;
}
.product-page .card .card-body{
  margin-top: 20px;
}

.product-page .card{
  overflow: hidden !important;
  border-radius: 0;
}
.product-page .card .card-title{
  font-size : 24px;
}

/* product-page end */

/* product-cat start */

.product-cat .img-box {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.product-cat .carousel-control-next-icon {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.74);
}

.product-cat .carousel-control-prev-icon {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.74);
}

hr {
  height: 2px;
  background-color: black;
}

/* product-cat end */

.contact-page .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.1);
  ;
  padding: 2rem;
}

.contact-page .content h4 {
  color: var(--darkprimary);
  margin-top: 20px;
  font-size: 28px;
}

.contact-page .content i {
  color: white;
  background-color: var(--primary);
  font-size: 3rem;
  padding: 2px 10px;
  border-radius: 5px;

}

.contact-page .content .fa-phone-volume {
  padding: 15px 12px;

}

.contact-page .content p {

  color: gray;
  margin-top: 5px;
  font-size: 18px;
}

.contact-page .content p a {
  text-decoration: none;
  color: gray;
}

.contact-page .content p a:hover {
  color: var(--primary);
  transition: 0.5s;

}
.card-text {
  color: #080808 !important;
}

/* contact-page end */

/* gallery page start */


.gallery .gallery-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* for black transparent effect */
  z-index: 14324;

}

.gallery .gallery-img:hover::after {
  width: 100%;
}

/* gallery page end */


.gallery-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 2px;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;

}

/* about-page section start */
.about-page .content .list-item i{
        font-size: 47px;
    margin-right: 13px;
}
.about-page .content .list-item i:hover{
  transform: scaleX(-1);
  transition: 0.5s;
  cursor: pointer;
}

.about2-page{
  background-color: var(--primary);
} 
.about2-page .counter-section{
  background-color: transparent;

}
.about2-page .counter{
color:white;
}
.about2-page .label{
  color:#bcbebb;
}

/* about-page section end */

.feature-sec {
  margin: 50px 0;
}

.feature-sec .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    position: relative;
}

.feature-sec .content h4 {
    color: var(--darkprimary);
    margin-top: 20px;
    font-size: 24px;
}

.feature-sec .content i {
    color: white;
    background-color: var(--secondary);
    font-size: 3rem;
    padding: 2px 10px;
    border-radius: 5px;

}

.feature-sec .content .fa-phone-volume {
    padding: 15px 12px;
}

.feature-sec .content p {
    color: gray;
    margin-top: 5px;
    font-size: 18px;
}

.feature-sec .content p a {
    text-decoration: none;
    color: gray;
}

.feature-sec .content p a:hover {
    color: var(--darksecondary);
    transition: 0.5s;
}

.feature-sec .content i {
    color: white;
    background-color: var(--secondary);
}


.feature-sec .content .icon {
    height: 75px;
    width: 75px;
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-sec .content .sp-1 {
    position: absolute;
    width: 2px;
    height: 0;
    content: "";
    top: 0;
    left: 0;
    background-color: var(--primary);
}

.feature-sec .content .sp-2 {
    position: absolute;
    width: 0;
    height: 2px;
    content: "";
    top: 0;
    left: 0;
    background-color: var(--primary);
}

.feature-sec .content .sp-3 {
    position: absolute;
    width: 2px;
    height: 0%;
    content: "";
    top: 0;
    right: 0;
    background-color: var(--primary);
}

.feature-sec .content .sp-4 {
    position: absolute;
    width: 0%;
    height: 2px;
    content: "";
    left: 0;
    bottom: 0;
    background-color: var(--primary);
}

.feature-sec .content:hover .sp-1 {
    transition: 0.5s;
    height: 100%;

}

.feature-sec .content:hover .sp-2 {
    transition: 0.5s;
    width: 100%;

}

.feature-sec .content:hover .sp-3 {
    transition: 0.5s;
    height: 100%;

}

.feature-sec .content:hover .sp-4 {
    transition: 0.5s;
    width: 100%;

}


/*.feature-sec end */

/* gallery-page section start */

.gallery-page .img-box{
      position: relative;
    overflow: hidden;
}
.gallery-page .img-box::before{
    content: '';
    position: absolute;
    top: -200%;
    right: 1%;
    width: 100%;
    height: 200%;
    /* background: red; */
    background-color: rgba(245, 241, 241, 0.322);
    transition: all 0.5s;
    pointer-events: none;
    transform: rotate(127deg);
    z-index: 1;
}
.gallery-page .img-box:hover::before {
    top: 106%;

}
.gallery-page .img-box:hover img {
  transform: scale(1.2);
  transition: 0.5s;
}

/* gallery-page section end */
.cont-page-form {
  position: relative;
  height: 75rem;
}

.contact .contact-form {
    border: 15px solid rgba(255, 255, 255, 0.24);
    background-color: white;
    position: absolute;
    top: 45%;
    left: 25%;
    padding: 3rem;
}
.contact .form h4 {
    font-size: 28px;
    font-weight: 500;
}
.cont-page-form .contact-form input{
  font-size: 18px;
}
.cont-page-form .contact-form textarea{
  font-size: 18px;
}

